/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  color: #3d3d3d;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 10px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
.forms {
  width: 50%;
  margin: auto;
}
.forms > * {
  text-align: center;
}
.forms h2 {
  margin-bottom: 20px;
}
.forms form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.forms input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forms label {
  margin: 2em 0 1em 0;
}
.forms textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forms div {
  text-align: center;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;

  width: 179px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  margin-bottom: 28px;
}

.contact input[type="submit"] {
  margin-top: 40px;
  background-color: #1d6154;
}

.log_in input[type="submit"] {
  background-color: #1d6154;
  margin-top: 10px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* CSS ADDED */

.button {
  border-radius: 60px;
  border: 1px solid #1d6154;
  min-width: 100px;
  height: 37px;
  font-family: "Syne";
  cursor: pointer;
  color: #1d6154;
  background-color: transparent;
}

.forgotten_password {
  text-decoration: underline;
  text-align: center;
}

.button_selected {
  background-color: #1d6154;
  color: #fffef8;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

.error_message {
  margin-top: 20px;
  color: red;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.banner {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  color: white;
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.custom_block {
  display: flex;
  justify-content: center;
}

.custom_button {
  display: flex;
  justify-content: center;
}

.custom {
  color: black;
  font-size: 14px;
  padding: 10px;
  margin-left: 31px;
  font-family: "Work Sans";
  font-weight: initial;
  cursor: pointer;
}

.fa-pen-to-square {
  padding-right: 10px;
}

.modal_container {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal_container.active {
  display: block !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal {
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.modal_title {
  font-size: 26px;
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
}

.close_modal {
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: bold;
  font-size: large;
}

.back_modal {
  border: none;
  background: none;
  position: absolute;
  left: 20px;
  top: 10px;
  font-weight: bold;
  font-size: large;
}

.modal_content {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.modal_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 9px;
  grid-row-gap: 29px;
  margin-top: 46px;
  margin-bottom: 68px;
}

.modal_gallery figure img {
  width: 76px;
  height: 102px;
}

.modal_gallery .fa-trash-can {
  position: absolute;
  right: 6px;
  top: 5px;
  font-size: 9px;
  color: white;
  padding: 4px;
  background-color: black;
  border-radius: 3px;
}

.modal_gallery figure {
  position: relative;
}

.line {
  background-color: #b3b3b3;
  height: 1px;
  width: 100%;
  margin-bottom: 38px;
}

.forms select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 47px;
}

.modal .forms {
  width: 80%;
}

.modal .forms form {
  margin-top: 0px;
}

.add {
  background-color: #e8f1f6;
  width: 100%;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  border-radius: 3px;
}

.modal .button_selected {
  background-color: #1d6154;
  color: white;
  border: none;

  font-family: "Work Sans";
  font-weight: 900;
  padding: 0px 30px;
}

/* .modal input[type="submit"] {
  margin: 0px;
  width: 237px;
  background-color: #a7a7a7;
  font-size: 14px;
  height: 36px;
} */

.fa-image {
  font-size: 68px;
  color: #b9c5cc;
  margin-top: 13px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.add .button_selected {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.upload_button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.button_submit_modal {
  display: flex;
  justify-content: center;
}

.submit_button_modal_unselected {
  background-color: #a7a7a7;
}

.submit_button_modal_selected {
  background-color: #1d6154;
}

#add_modal {
  display: none;
}

.add_picture {
  background-color: #1d6154;
  color: white;
  padding: 10px 50px;
  font-size: 14px;
  margin-bottom: 15px;
}

.button_add_picture {
  background-color: #cbd6dc;
  color: #306685;
  border: none;
  font-family: "Work Sans";
  font-weight: 900;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

#modal_add_image button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  width: 179px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  margin-bottom: 28px;
  background-color: #1d6154;
  color: #fffef8;
}

input:invalid ~ button {
  background-color: red;
}

.hidde {
  display: none;
}

.image_preview {
  width: 129px;
  height: 169px;
}
